/* ----- Menu ----- */
#menu {
    background-color: rgba(255, 255, 255, .3);
}

.navbar img {
    height: 65px;
}

.navbar a {
    font-size: 15px;
}

.nav-item img {
    height: 26px;
    margin-left: 12px;
    margin-top: 5px;
}


/* ----- Section Banner ----- */
.banner {
    min-height: calc(95vh - 75px);
    background: url('../imagens/fantastic-seascape-with-ripples.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.text-banner {
    font-size: 60px;
}

.descricao-banner{
    color: white;
    background-color: #181926;
    text-align: center;
    font-size: 18px;
}

.btn a {
    color: white;
    text-transform: uppercase;
}

/* ----- Section Sobre ----- */
#sobre{
    padding: 30px;
    
}

#sobre h2 {
    font-size: 26px;
    margin-bottom: 27px;
    text-align: center;
}

.text-sobre {
    padding: 15px;
}

#sobre p { 
    margin-left: 30px;
}

#sobre img {
    height: 160px;
    padding: 5px;
}

/* ----- Section Metodologia ----- */

#metodo img {
    height: 350px;
}

#metodo h2 {
    text-align: center;
    padding-top: 50px;
}
#metodo p {
    text-align: justify;
}

/* ----- Section Docentes ----- */

#docentes p {
    text-align: justify;
}

#docentes h2 {
    text-align: center;
}


/* ----- Banner secundário ----- */
.banner-secundario {
    background: url('../imagens/Grupo 15181.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* ----- Banner Terceiario ----- */
.banner-terciario {
    background: url('../imagens/Grupo 1518.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}



/* ----- Section Depoimentos ----- */
#depoimentos h2 {
    text-align: center;
}

#depoimentos span {
    color: #22a7f0; 
    text-align: center;
}

/* ----- Section Teste de nivel ----- */
.banner-testeNivel {
    min-height: calc(85vh - 100px);
    background: url('../imagens/teste-nivel.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn {
    font-size: 30px;
}

/* ----- Section Formulario ----- */
#matricula{
    padding: 150px;
}

#matricula input {
    border-radius: 10px;
}

.banner-matricula {
    background: url('../imagens/Grupo 1519.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----- Section Roda-pé ----- */
footer {
    background-color: rgb(36, 39, 211);
    padding: 15px;
}

footer h2 {
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

.icon-redes {
    margin-top: 15px;
    text-align: center;
}

footer p {
    text-align: center;
    color: rgb(255, 255, 255, .1);
    margin-top: 30px;
}

.icon-55 {
    height: 40px !important;
    margin-bottom: 6px; 
    padding: 10px;
}